# There's nothing in this directory
drafts/

# Built website
docs/

# Compiled content that is placed in `./src`
src/**/*.html
**/feed.xml

# Compiled files (i.e. from Racket and Pollen)
compiled/
*.*~
