/*
https://www.asciiart.eu/plants/flowers
Flower garden by Joan G. Stark

                    _
                  _(_)_                          wWWWw   _
      @@@@       (_)@(_)   vVVVv     _     @@@@  (___) _(_)_
     @@()@@ wWWWw  (_)\    (___)   _(_)_  @@()@@   Y  (_)@(_)
      @@@@  (___)     `|/    Y    (_)@(_)  @@@@   \|/   (_)\
       /      Y       \|    \|/    /(_)    \|      |/      |
    \ |     \ |/       | / \ | /  \|/       |/    \|      \|/
jgs \\|//   \\|///  \\\|//\\\|/// \|///  \\\|//  \\|//  \\\|// 
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*/

:root {
	cursor: url('../images/pointer.png'), default;
}

body {
	background: #222;
	background-image: url('../images/pipes.png');
	font-family: Times New Roman, default;

}

root {
	display: inline-block;
	background-color: #ffffff;
	background-image: url('../images/journal_bk.gif');
	background-repeat: repeat-y;
	padding: 25px 25px 25px 75px;
	width: 640px;

	color: black;
	text-align: left;

	/* Entirely stylistic choice */
	min-height: 80vh;
}

p {
	font-size: 18pt;
}

/* FIXME: This is a hack-ish. Should use flexbox instead */
@media screen and (max-width: 600px) {
	root {
		display: block;
		background-size: 200%;
		background-repeat: repeat-y;
		background-position: lef;
		width: auto;
		padding: 5px 5px 5px 40px;
	}
	h1, h2, p { font-size: small; }
}
