/*
https://www.asciiart.eu/plants/flowers
Flower garden by Joan G. Stark

                    _
                  _(_)_                          wWWWw   _
      @@@@       (_)@(_)   vVVVv     _     @@@@  (___) _(_)_
     @@()@@ wWWWw  (_)\    (___)   _(_)_  @@()@@   Y  (_)@(_)
      @@@@  (___)     `|/    Y    (_)@(_)  @@@@   \|/   (_)\
       /      Y       \|    \|/    /(_)    \|      |/      |
    \ |     \ |/       | / \ | /  \|/       |/    \|      \|/
jgs \\|//   \\|///  \\\|//\\\|/// \|///  \\\|//  \\|//  \\\|// 
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*/

* {
	cursor: url('../images/pointer.png'), default;
}

body {
	background: #222;
	background-image: url('../images/pipes.png');
	font-family: "Times New Roman", Times, serif;
}
ul {
	/* https://www.fgdc.gov/training/images/ */
	list-style-image: url('../images/blue_ball.jpg');
}

ul li ul {
	/* https://www.fgdc.gov/training/images/ */
	list-style-image: url('../images/bullet-orange.gif');
}
/*
Originally for the root element, but that's not HTML-kosher...
This really represents the default content that Pollen spits out. I suppose this
should really be a
TODO: Fix the way styles are scoped to better reflect the document structure.
*/
body > div, body > footer {
	display: block;
	background-color: #ffffff;
	background-image: url('../images/journal_bk.gif');
	background-repeat: repeat-y;
	padding: 25px 25px 25px 75px;
	width: 640px;

	color: black;
	text-align: left;
}

body > div {
	/* Entirely stylistic choice */
	min-height: 80vh;
}

body > footer {
	text-align: center;
}

/* FIXME: This is a hack-ish. Should use flexbox instead */
@media screen and (max-width: 600px) {
	body > div, body > footer {
		display: block;
		background-size: 200%;
		background-repeat: repeat-y;
		background-position: left;
		width: auto;
		padding: 5px 5px 5px 40px;
	}
	h1, h2, p { font-size: small; }
}
